{
	"extends": ["airbnb-base", "prettier"],
	"env": {
		"node": true,
		"es6": true,
		"jest": true,
		"mocha": true
	},
	"plugins": ["prettier"],
	"parser": "babel-eslint",
	"rules": {
		"import/imports-first": ["error", "absolute-first"],
		"import/newline-after-import": "error",
		"import/prefer-default-export": 0,
		"semi": "error",
		"no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
	}
}
